//sass variables
$content: #94fbab;
$nav: #bbadff;

/* nav start */
nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 5%;
  height: 100px;
  background-color: $nav;
}

nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #fff;
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .links li {
  list-style: none;
}

nav .links a {
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

nav .links a:hover {
  color: $content;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }

  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  nav .links a {
    font-size: 20px;
  }

  nav :checked ~ .links {
    bottom: 0;
  }

  nav .icon-burger {
    display: block;
    cursor: pointer;
  }

  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }

  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }

  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}

/* nav end */


html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}



.bg-image {
  background-image: url("../images/PawPrintBackground.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-position: center;
  background-attachment: fixed;
}

.image {
  background-color: black;
  position: relative;
  text-align: center;
  width: 75%;
  justify-content: space-evenly;
  margin: auto;
  background-image: linear-gradient(#bbadff, #745296);

  img {
    width: 80%;
  }
}

.imageAbout {
  position: relative;
  text-align: center;
  width: 75%;
  justify-content: space-evenly;
  margin: auto;
  

  img {
    width: 100%;
  }
}

.divider {
  border-bottom: 3px double white;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
}

.productContainer {
  background-color: $content;
 
  text-align: center;

  img {
    width: 300px;
    height: 200px;
    margin: auto;
  }

  h3 {
    margin: 5px;
  }

  form {
    padding: 10px;
    
  }
}

table {
  position: relative;
  left: 110px;
  
  padding: 10px;
}

.wrapper {
  padding: 5px;
  max-width: 1400px;
  width: 95%;
  
  margin: 20px auto;
  position: relative;
}

header {
  padding: 10px 10px;
  text-align: center;
  margin-top: 80px;
}

.header {
  background-color: #94fbab;
  margin-bottom: 30px;
  border: 1px solid #fff;
  border-radius: 25px;
}

.corgiHeader {
  width: 100%;
  height: 100%;
}

.corgiHeader img {
  position: relative;
  width: 25%;
  left: 38%;
  top: 125px;
}

.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px;
}

.column {
  flex: 1;
  margin: 5px;
  padding: 5px;
}

.column:first-child {
  margin-left: 0;
}

.column:last-child {
  margin-right: 0;
}


@media screen and (max-width: 980px) {
  .columns .column {
    margin-bottom: 5px;
    flex-basis: 40%;
  }
  .columns .column:nth-last-child(2) {
    margin-right: 0;
  }
  .columns .column:last-child {
    flex-basis: 100%;
    margin: 0;
  }

  .corgiHeader img {
    position: relative;
    width: 20%;
    left: 40%;
    top: 105px;
  }

  
}

@media screen and (max-width: 680px) {
  .columns .column {
    flex-basis: 100%;
    margin: 0 0 5px 0;
  }

  .corgiHeader img {
    position: relative;
    width: 40%;
    left: 32%;
    top: 105px;
  }

  table {
    left: 80px;
  }
}

.content {
  background-color: $content;
  text-align: center;
  margin: auto;

  h2 {
    padding: 5px;
  }

  p {
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    line-height: 30px;
  }
}

.footer {
  background-color: #745296;
  padding: 20px;
  margin-top: 20px;
}

.footerContent {
  background-color: #f2ddf0;
  text-align: center;
  padding: 10px;
}

.socialMedia {
  a {
    padding-right: 20px;
    color: black;
    font-size: larger;
  }

  a:hover {
    color: skyblue;
  }
}


